.container-3 {
  width: 50%;
  border: 1px solid orangered;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}
.flex-box-container-3 {
  flex-wrap: wrap;
  background-color: solid black;
  border: 1px solid dodgerblue;
}
.flex-box-container-3 img:hover {
  box-shadow: 4px 10px 38px 6px rgba(0, 123, 238, 0.883);
}
.flex-box-container-3 img {
  height: 200px;
  width: 200px;
}
